MYSQL_ROOT_PASSWORD=
JWT_KEY=
ENVIRONMENT=Development
OBJECT_STORAGE_BUCKET=pitaka-private
OBJECT_STORAGE_REGION=us-east-1
OBJECT_STORAGE_ACCESS_KEY_ID=pitaka-local
OBJECT_STORAGE_SECRET_ACCESS_KEY=pitaka-local-secret
